.arc{}
body{width:100%;height:100%;font: 10px Helvetica, sans-serif; text-rendering: optimizeLegibility;overflow:auto;}
.chart text{fill-opacity:1;}
.chart{height:100%;width:650px;position:absolute;top:40px;bottom:0;right:40px;left:40px;margin:auto;}
.content{overflow:auto;}
.clear{}
.expander{}
.header_container{margin-bottom:60px;}
.h_list_container{float:left;margin:20px 0 20px 10px;}
.h_list{display:inline;margin:0;padding:0;}
.h_list li{display:inline;margin:0;padding:10px;font-weight:bold;font-size:12px;}
.title{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;font-variant:normal;text-transform: uppercase;color: #000;letter-spacing:0.2em;position:relative;left:0;bottom:0;float:left;}
.lines{width:100%;height:1px;opacity:0.5;border:none;background-color:#000;color:#000;position:relative;clear:both;}
.list{clear:right;list-style:none;margin:0;padding:0;}
#main_title{font-size:32px;float:none;margin:0 0 40px 0;}
#piechart{fill:#000;font-face:Helvetica, sans-serif;font-size:10px;height:100;width:100;}
#piechart .total{font-size:18px;font-weight:bold;}
#piechart .units{fill:gray;font-size:12px;}
#piechart .label{fill:#CCC;font-size:12px;}
#piechart .value{font-size:10px;}
.stat_list{list-style:none;}
.stat_list_container{position:relative;top:40px;clear:left;width:50%;}
.stat_list li{font-family:sans-serif;font-size:14px;font-weight:bold;font-variant:normal;color: #000;position:relative;left:0;bottom:0;padding:10px;letter-spacing:0.1em;}
.stat_list li span:last-child{font-weight:normal;font-size:12px;}
.times{position:relative;font-family:sans-serif;font-size:8px;font-weight:light;float:right;}
.title_container{position:relative;left:0;width:100%;}
.vis{fill-opacity:.5;} 
.vis_container{clear:left;float:right;height:100%;}
#expand{white-space:nowrap;padding-right:0; unicode-bidi:-moz-isolate;unicode-bidi:-webkit-isolate;unicode-bidi:isolate;margin-bottom:10px;}
.expand-bracket{-webkit-transition:color 100ms ease-out,margin 100ms ease-out;-moz-transition:color 100ms ease-out,margin 100ms ease-out;-ms-transition:color 100ms ease-out,margin 100ms ease-out;-o-transition:color 100ms ease-out,margin 100ms ease-out;transition:color 100ms ease-out,margin 100ms ease-out} 
#expand_heading{font-family:sans-serif;font-weight:normal;}
#expand_heading a{color:#000;text-decoration:none;}
.expand-expanded .expand-bracket:first-of-type {margin-left:-0.2em;margin-right:0.2em;color:#ccc;} 
.expand-expanded .expand-bracket:not(:first-of-type) {margin-right:-0.2em;margin-left:0.2em;color:#ccc}
 
